<h1>Welcome to the coolest Posting Platform ever 😎</h1>

<% if admin_signed_in? %>
  <p>Click <%= link_to 'here', new_post_path %> to create a new post.</p>
  <% else %>
  <p>Click <%= link_to 'here', new_admin_session_path %> to Login.</p>
<% end %>
