/* Drop-down */

/* Default custom select styles */
div.cs-select {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  text-align: left;
  background: $select_box_background;
  z-index: 100;
  width: 100%;
  max-width: 500px;
  -webkit-touch-callout: none;
  user-select: none;
}

div.cs-select:focus
{
  outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select select
{
  display: none;
}

.cs-select span
{
  display: block;
  position: relative;
  cursor: pointer;
  padding: 0.5em 1em 0.5em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Placeholder and selected option */
.cs-select > span
{
  padding-right: 3em;
}

.cs-select > span::after,
.cs-select .cs-selected span::after
{
  speak: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cs-select > span::after
{
  font-family: 'FontAwesome';
  content: '\f0dd';
  right: 1em;
}

.cs-select .cs-selected span::after
{
  font-family: 'FontAwesome';
  content: '\f0de';
  margin-left: 1em;
}

.cs-select.cs-active > span::after
{
  transform: translateY(-50%) rotate(180deg);
}

div.cs-active {
  z-index: 200;
}

/* Options */
.cs-select .cs-options {
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: $select_box_background;
  visibility: hidden;
  pointer-events: none;
}

.cs-select.cs-active .cs-options {
  visibility: visible;
}

.cs-select ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.cs-select ul span {
  padding: 1em;
}

.cs-select ul li.cs-focus span {
  background-color: $select_box_background;
}

/* Optgroup and optgroup label */
.cs-select li.cs-optgroup ul {
  padding-left: 1em;
}

.cs-select li.cs-optgroup > span {
  cursor: default;
}


div.cs-skin-elastic {
  background: transparent;
  font-size: 1em;
  font-weight: 700;
  color: $select_box_text;
}

@media screen and (max-width: 30em) {
  div.cs-skin-elastic { font-size: 1em; }
}

.cs-skin-elastic > span {
  background-color: $select_box_background;
  z-index: 100;
}

.cs-skin-elastic > span::after {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cs-skin-elastic .cs-options {
  overflow: visible;
  background: transparent;
  opacity: 1;
  pointer-events: none;
}


.cs-skin-elastic.cs-active .cs-options {
  pointer-events: auto;
}

.cs-skin-elastic .cs-options > ul::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  -webkit-transform: scale3d(1,0,1);
  transform: scale3d(1,0,1);
  background: $select_box_background;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.cs-skin-elastic.cs-active .cs-options > ul::before {
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
  -webkit-transition: none;
  transition: none;
  -webkit-animation: expand 0.6s ease-out;
    animation: expand 0.6s ease-out;
}

.cs-skin-elastic .cs-options ul li {
  opacity: 0;
  -webkit-transform: translate3d(0,-25px,0);
  transform: translate3d(0,-25px,0);
  -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
  transition: opacity 0.15s, transform 0.15s;
}

.cs-skin-elastic.cs-active .cs-options ul li {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  opacity: 1;
  -webkit-transition: none;
  transition: none;
  -webkit-animation: bounce 0.6s ease-out;
    animation: bounce 0.6s ease-out;
}

.cs-skin-elastic .cs-options span {
  background-repeat: no-repeat;
  background-position: 1.5em 50%;
  background-size: 2em auto;
}

.cs-skin-elastic .cs-options span:hover,
.cs-skin-elastic .cs-options li.cs-focus span,
.cs-skin-elastic .cs-options .cs-selected span {
  color: $select_box_text_hover;
}

.cs-skin-elastic .cs-options .cs-selected span::after {
  content: '';
}


@-webkit-keyframes expand {
  0% { -webkit-transform: scale3d(1,0,1); }
  25% { -webkit-transform: scale3d(1,1.2,1); }
  50% { -webkit-transform: scale3d(1,0.85,1); }
  75% { -webkit-transform: scale3d(1,1.05,1) }
  100% { -webkit-transform: scale3d(1,1,1); }
}

@keyframes expand {
  0% { -webkit-transform: scale3d(1,0,1); transform: scale3d(1,0,1); }
  25% { -webkit-transform: scale3d(1,1.2,1); transform: scale3d(1,1.2,1); }
  50% { -webkit-transform: scale3d(1,0.85,1); transform: scale3d(1,0.85,1); }
  75% { -webkit-transform: scale3d(1,1.05,1); transform: scale3d(1,1.05,1); }
  100% { -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}


@-webkit-keyframes bounce {
  0% { -webkit-transform: translate3d(0,-25px,0); opacity:0; }
  25% { -webkit-transform: translate3d(0,10px,0); }
  50% { -webkit-transform: translate3d(0,-6px,0); }
  75% { -webkit-transform: translate3d(0,2px,0); }
  100% { -webkit-transform: translate3d(0,0,0); opacity: 1; }
}

@keyframes bounce {
  0% { -webkit-transform: translate3d(0,-25px,0); transform: translate3d(0,-25px,0); opacity:0; }
  25% { -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
  50% { -webkit-transform: translate3d(0,-6px,0); transform: translate3d(0,-6px,0); }
  75% { -webkit-transform: translate3d(0,2px,0); transform: translate3d(0,2px,0); }
  100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); opacity: 1; }
}
